*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-sans-serif);
    font-size: var(--size-texte);
    line-height: auto;
    color: var(--color-texte);
    background-color: var(--color-fond);
}

/* Les règles typographiques générales des titres */
h1,
h2 {
    font-family: var(--font-serif);
    color: var(--color-fond);
    background-color: var(--color-fond-titre);
}

.titre_accueil{
    margin: 10%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-mise_en_evidence);
    background-color: var(--color-fond);
}

p{
    margin: 0 7vw;
}

blockquote{
    font-size: var(--size-citation);
    font-family: var(--font-serif);
    color: var(--color-fond-titre);
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
  
/* Pour enlever l'apparence par défaut des listes */
    .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* supression des décorations et des couleurs des liens */
a{
    color: var(--color-texte);
    text-decoration: none;
}