*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* le scroll est supprimer (utiliser lorsque le menu est ouvert) */
.noscroll,
.noscroll body {
  overflow: hidden;
}

body{
    font-family: var(--font-sans-serif);
    font-size: var(--size-texte);
    line-height: auto;
    color: var(--color-texte);
    background-color: var(--color-claire);
}

/* règles typographiques générales des titres */
h1,
h2 {
    margin: 4vh 10vw 4vh 0;
    padding: 5%;
    font-size: var(--size-titre);
    font-family: var(--font-serif);
    color: var(--color-claire);
    background-color: var(--color-fonce);
}

.titre_accueil{
    margin: 10% 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-mise_en_evidence);
    background-color: var(--color-claire);
}

/* mise en forme des textes */
p{
    margin: 0 7vw;
}

.paragraphe{
    margin-bottom: 3vh;
}

.lien{
    color: var(--color-mise_en_evidence);
}

/* mise en forme des citations */
blockquote{
    margin: 7vw;
    font-size: var(--size-citation);
    font-family: var(--font-serif);
    color: var(--color-fonce);
}

/* mise en forme de l'intro sur l'accueil */
.intro{
    margin: 5vh 6vw;
    text-align: center;
    font-size: var(--size-chapo);
}

/* permet d'annuler la mise en forme des bouton qu'applique le navigateur. */
button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
  
/* enleve l'apparence par défaut des listes */
.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* supression des décorations et des couleurs des liens */
a{
    color: var(--color-texte);
    text-decoration: none;
}

.video{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}