/* marge exteren des listes */
.liste_ap{
    margin: 0 7vw;
}

/* mise en place de la liste à droite de l'écran */
.liste-right{
    float: right;
}


/* MISE EN FORME DES ICONS SANS IMAGE */

/* mise à l'echelle des items */
.liste_ap__items{
    width: 37vw;
    margin-bottom: 5px;
}

/* hauteur des items avec image */
.liste_ap__items .liste_ap__figure{
    height: 33vh;
}

/* hauteur des items sans image */
.liste_ap__items p{
    height: 17vh;
}

/* supression des marges des textes pour que le texte ai la meme largeur que sur les items avec image */
.liste_ap__texte{
    margin: 0;
}


/* MISE EN FORME DES ICONS AVEC IMAGE */

.projet {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	row-gap: 0px;
	column-gap: 0px;
	grid-auto-rows: minmax(100px, auto);
    grid-column: 2;
	grid-row: 2;
	width: 41vw;
	height: 40vh;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.image {
    width: 37vw;
	position: relative;
	z-index: 2;
}

.texte {
	position: absolute;
	margin: 0px;
	padding: 0px;
	color: var(--color-texte);
	background-color: rgba(255, 255, 255, 0.55);
	top:0;
	z-index: 1;
    
}